@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --Bright-orange: hsl(31, 77%, 52%);
    --Dark-cyan: hsl(184, 100%, 22%);
    --Very-dark-cyan: hsl(179, 100%, 13%);
}
body {
    font-family: 'Big Shoulders Display', cursive;
    font-family: 'Lexend Deca', sans-serif;
    background-color: #F2F2F2;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container {
    width: 900px;
    height: 400px;
    display: grid;
    grid-template-columns: repeat(3,300px);
    grid-template-rows: 100%;
    justify-content: center;
    border-radius: 10px;
    flex-wrap: wrap;
    

}
.card1 {
    background-color: var(--Bright-orange);
    border-radius: 10px 0 0 10px;
}
.card2 {
    background-color: var(--Dark-cyan);
}
.card3 {
    background-color: var(--Very-dark-cyan);
    border-radius: 0 10px 10px 0;
}
.card {
    display: grid;
    grid-template-rows: 25% 50% 25%;
    align-items: center;
    padding: 20px 56px;
}
.h1 {
    color: white;
    font-weight: 400;
    text-transform:uppercase;
    font-family: 'Big Shoulders Display', cursive;
    margin-bottom: 20px;
    margin-top: -50px;
}

.card content {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    
}
.card p {
    font-size: 10px;
    font-family: 'Lexend Deca', sans-serif;
    color: white;
    line-height: 20px;

}
.card img {
    width: 50px;
}

.card button {
    padding: 10px 30px;
    background: none;
    border-color: white;
    border-radius: 19.68px;
    color: white;
}
@media (max-width:889px){
    .container {
        display: grid;
        grid-template-columns: repeat(3,200px);
    }
    .card {
        padding: 20px 40px;
    }

    .card img {
        margin-bottom: 45px;
    }
    .card button {
        padding: 3px 15px;
    }
}

@media (max-width:667px){
    body {
        height: 1350px;
        width: 350px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px;
        padding: 0 0 0 0;

    }
    .container{
        height: 1330px;
        width: 330px;
        padding: 0;
        margin: 30px;
        display: grid;
        grid-template-columns: 250px;
        grid-template-rows: repeat(3 , 443.333px);
    }
    .card1 {
        border-radius: 10px 10px 0 0;
    }
    .card3 {
        margin-top: 0;
        border-radius: 0 0 10px 10px;
    }
    .card button {
        background-color: white;
        
    }
    .card1 button{
        color: var(--Bright-orange);
        font-weight: bold;

    }
    .card2 button{
        color: var(--Dark-cyan);
        font-weight: bold;
        
    }
    .card3 button{
        color: var(--Very-dark-cyan);
        font-weight: bold;
        
    }
}